.border{

    border: solid red 2px;
    border-radius: 1pc;
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 40px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    background-color: aquamarine;
    

}